body {
    font-family: "Helvetica";
}

#title {
    padding-top: 1vh;
}

#passing {
    text-align: center;
}

span {
    float: right;
}

.card-title {
    font-size: 100%;
}

.classes {
    font-size: 1.5vw;
}

.list-group-item div p {
    font-size: 12px;
}

.stat-hide {
    display: none;
}
