html {
    background: #ffda3e;
    font-family: "Helvetica";
    padding-left: 10px;
    padding-right: 10px;
}

#Title{
    padding-top: 1vh;
    text-align: center;
}

#day {
    text-align: center;
    border-top: #000000 solid 4px;
    border-bottom: #000000 solid 2px;
}

#content {
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

#passing {
    text-align: center;
}

.classes {
    padding-left: 0.5vw;
    border-bottom: #000000 solid 4px;
    font-size: 20px;
    padding-right: 0.5w;
}

span {
    float: right;   
}

p {
    margin: 10px;
    padding: 0.5vh 01vw 0.1vh 0.5vw;
}